<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Buscar</h4>
                      <p class="card-category">Busca de frequência por nome</p>
                  </div>
                  <div class="card-body">
                      <form #form="ngForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-10">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nome" type="text" [(ngModel)]="model.name">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="pull-right">
                            <button mat-raised-button type="cancel" class="btn btn-danger">Cancelar</button>
                            <button mat-raised-button type="submit" class="btn btn-info">Buscar</button>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
